.mac-book-air1-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.mac-book-air1-mac-book-air1 {
  width: 100%;
  height: 100vh;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(255, 255, 255, 1);
}
.mac-book-air1-footballstadiumnightgenerativeai1 {
  top: 0px;
  /* left: -7.417810440063477px; */
  /* width: 1299px; */
  width: 100%;
  height: 100%;
  position: absolute;
}
.mac-book-air1-group6 {
  top: 332.28271484375px;
  left: -254.72276306152344px;
  width: 73.99142456054688px;
  height: 72.87683868408203px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.mac-book-air1-ellipse2 {
  top: 0px;
  left: 0px;
  width: 74px;
  height: 73px;
  position: absolute;
}
.mac-book-air1-rectangle3 {
  top: 400px;
  width: 100%;
  height: 597px;
  position: absolute;
}
.mac-book-air1-rectangle4 {
  top: 30px;
  left: 100px;
  width: 90vw;
  height: 99px;
  position: absolute;
}
.mac-book-air1-text10 {
  top: 400px;
  left: 52vw;
  color: rgba(235, 232, 227, 1);
  width: 886px;
  height: auto;
  position: absolute;
  font-size: 103.8045883178711px;
  text-align: right;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  line-height: 89.99999761581421%;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-air1-navigation {
  top: 25.243243217468262px;
  left: 100.027027130126953px;
  width: 90vw;
  height: 86.48648834228516px;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  position: absolute;
  box-shadow: 0px 0px 86.48648834228516px 0px rgba(0, 0, 0, 0.25);
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(235, 232, 227, 0);
}
.mac-book-air1-frame2 {
  gap: 110.70270538330078px;
  top: 4.846495151519775px;
  left: 56.216217041015625px;
  width: 698px;
  display: flex;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  justify-content: space-between;
}
.mac-book-air1-cric-lys1 {
  width: 157px;
  height: 76px;
}
.mac-book-air1-cric-lys22 {
  width: 400px;
  /* height: 76px; */
}
.mac-book-air1-text18 {
  color: rgba(235, 232, 227, 1);
  height: auto;
  font-size: 17.297298431396484px;
  text-align: left;
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-air1-text20 {
  color: rgba(235, 232, 227, 1);
  height: auto;
  font-size: 17.297298431396484px;
  text-align: left;
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-air1-text22 {
  top: 31.513513565063477px;
  left: 860.8378295898438px;
  color: rgba(235, 232, 227, 1);
  height: auto;
  position: absolute;
  font-size: 16.823593139648438px;
  text-align: left;
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-air1-text24 {
  top: 448.3243103027344px;
  left: 180px;
  color: rgba(235, 232, 227, 1);
  height: auto;
  position: absolute;
  font-size: 25.945945739746094px;
  text-align: left;
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-air1-rectangle1 {
  top: 441.9459533691406px;
  left: 7vw;
  width: 255px;
  height: 48px;
  position: absolute;
  border-color: rgba(255, 255, 255, 1);
  border-style: solid;
  border-width: 0.8648648858070374px;
  border-radius: 89.08108520507812px;
}
.mac-book-air1-rectangle2 {
  top: 509.4053955078125px;
  left: 7vw;
  width: 255px;
  height: 48px;
  position: absolute;
  border-color: rgba(255, 255, 255, 1);
  border-style: solid;
  border-width: 0.8648648858070374px;
  border-radius: 89.08108520507812px;
}
.mac-book-air1-text26 {
  top: 518.0540771484375px;
  left: 180px;
  color: rgba(235, 232, 227, 1);
  height: auto;
  position: absolute;
  font-size: 25.945945739746094px;
  text-align: left;
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-air1-arrowforward1 {
  top: 456.6486511230469px;
  left: 17.5vw;
  width: 21px;
  height: 21px;
  position: absolute;
}
.mac-book-air1-arrowforward2 {
  top: 522.3783569335938px;
  left: 17.5vw;
  width: 21px;
  height: 21px;
  position: absolute;
}
.mac-book-air1ipl-logo {
  top: 200px;
  left: 80vw;
  width: 352px;
  height: 180.7567596435547px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.mac-book-air1-vector10 {
  top: 31.1351375579834px;
  left: 125.40541076660156px;
  width: 11px;
  height: 38px;
  position: absolute;
}
.mac-book-air1-vector11 {
  top: 31.1351375579834px;
  left: 143.5675811767578px;
  width: 34px;
  height: 38px;
  position: absolute;
}
.mac-book-air1-vector12 {
  top: 31.1351375579834px;
  left: 183.3513641357422px;
  width: 36px;
  height: 38px;
  position: absolute;
}
.mac-book-air1-vector13 {
  top: 31.1351375579834px;
  left: 223.13514709472656px;
  width: 12px;
  height: 38px;
  position: absolute;
}
.mac-book-air1-vector14 {
  top: 31.1351375579834px;
  left: 236.9729766845703px;
  width: 40px;
  height: 38px;
  position: absolute;
}
.mac-book-air1-vector15 {
  top: 31.1351375579834px;
  left: 278.4864807128906px;
  width: 34px;
  height: 38px;
  position: absolute;
}
.mac-book-air1-vector16 {
  top: 77.83784484863281px;
  left: 125.40541076660156px;
  width: 27px;
  height: 38px;
  position: absolute;
}
.mac-book-air1-vector17 {
  top: 77.83784484863281px;
  left: 157.40541076660156px;
  width: 33px;
  height: 38px;
  position: absolute;
}
.mac-book-air1-vector18 {
  top: 77.83784484863281px;
  left: 192.8648681640625px;
  width: 25px;
  height: 38px;
  position: absolute;
}
.mac-book-air1-vector19 {
  top: 77.83784484863281px;
  left: 220.54054260253906px;
  width: 48px;
  height: 38px;
  position: absolute;
}
.mac-book-air1-vector20 {
  top: 77.83784484863281px;
  left: 272.43243408203125px;
  width: 11px;
  height: 38px;
  position: absolute;
}
.mac-book-air1-vector21 {
  top: 77.83784484863281px;
  left: 290.5946044921875px;
  width: 25px;
  height: 38px;
  position: absolute;
}
.mac-book-air1-vector22 {
  top: 77.83784484863281px;
  left: 319.1351318359375px;
  width: 33px;
  height: 38px;
  position: absolute;
}
.mac-book-air1-vector23 {
  top: 124.54054260253906px;
  left: 125.40541076660156px;
  width: 24px;
  height: 38px;
  position: absolute;
}
.mac-book-air1-vector24 {
  top: 124.54054260253906px;
  left: 153.94595336914062px;
  width: 25px;
  height: 38px;
  position: absolute;
}
.mac-book-air1-vector25 {
  top: 124.54054260253906px;
  left: 179.8918914794922px;
  width: 40px;
  height: 38px;
  position: absolute;
}
.mac-book-air1-vector26 {
  top: 124.54054260253906px;
  left: 218.81082153320312px;
  width: 35px;
  height: 38px;
  position: absolute;
}
.mac-book-air1-vector27 {
  top: 124.54054260253906px;
  left: 259.45947265625px;
  width: 33px;
  height: 38px;
  position: absolute;
}
.mac-book-air1-vector28 {
  top: 124.54054260253906px;
  left: 298.3783874511719px;
  width: 24px;
  height: 38px;
  position: absolute;
}
.mac-book-air1-vector29 {
  top: 92.54054260253906px;
  left: 40.64865493774414px;
  width: 74px;
  height: 88px;
  position: absolute;
}
.mac-book-air1-vector30 {
  top: 32.000003814697266px;
  left: 6.054060459136963px;
  width: 16px;
  height: 23px;
  position: absolute;
}
.mac-book-air1-vector31 {
  top: 0.000003299197487649508px;
  left: 20.756763458251953px;
  width: 87px;
  height: 115px;
  position: absolute;
}
.mac-book-air1-vector32 {
  top: 20.756759643554688px;
  left: 0.0000065983954300463665px;
  width: 81px;
  height: 87px;
  position: absolute;
}
.mac-book-air1-cric-lys2 {
  top: 702.810791015625px;
  left: 60.5405387878418px;
  width: 500px;
  /* height: 100.46321105957031px; */
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.mac-book-air1-group10 {
  top: 17.127830505371094px;
  left: 90.72747039794922px;
  width: 22.861806869506836px;
  height: 25.156036376953125px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.mac-book-air1-group11 {
  top: 0px;
  left: 0px;
  width: 22.861806869506836px;
  height: 25.156036376953125px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.mac-book-air1-group12 {
  top: 0px;
  left: 0px;
  width: 22.861806869506836px;
  height: 25.156036376953125px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.mac-book-air1-vector33 {
  top: 0px;
  left: 0px;
  width: 23px;
  height: 25px;
  position: absolute;
}
.mac-book-air1-group13 {
  top: 17.516937255859375px;
  left: 116.9858627319336px;
  width: 21.775066375732422px;
  height: 24.310794830322266px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.mac-book-air1-group14 {
  top: 0px;
  left: 0px;
  width: 21.775066375732422px;
  height: 24.310794830322266px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.mac-book-air1-group15 {
  top: 0px;
  left: 0px;
  width: 21.775066375732422px;
  height: 24.310794830322266px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.mac-book-air1-vector34 {
  top: 0px;
  left: 0px;
  width: 22px;
  height: 24px;
  position: absolute;
}
.mac-book-air1-group16 {
  top: 17.516937255859375px;
  left: 142.78419494628906px;
  width: 6.346029281616211px;
  height: 24.310794830322266px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.mac-book-air1-group17 {
  top: 0px;
  left: 0px;
  width: 6.346029281616211px;
  height: 24.310794830322266px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.mac-book-air1-group18 {
  top: 0px;
  left: 0px;
  width: 6.346029281616211px;
  height: 24.310794830322266px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.mac-book-air1-vector35 {
  top: 0px;
  left: 0px;
  width: 6px;
  height: 24px;
  position: absolute;
}
.mac-book-air1-group19 {
  top: 17.127830505371094px;
  left: 152.96939086914062px;
  width: 22.861806869506836px;
  height: 25.156036376953125px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.mac-book-air1-group20 {
  top: 0px;
  left: 0px;
  width: 22.861806869506836px;
  height: 25.156036376953125px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.mac-book-air1-group21 {
  top: 0px;
  left: 0px;
  width: 22.861806869506836px;
  height: 25.156036376953125px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.mac-book-air1-vector36 {
  top: 0px;
  left: 0px;
  width: 23px;
  height: 25px;
  position: absolute;
}
.mac-book-air1-group22 {
  top: 17.516937255859375px;
  left: 179.22789001464844px;
  width: 16.649944305419922px;
  height: 24.310794830322266px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.mac-book-air1-group23 {
  top: 0px;
  left: 0px;
  width: 16.649944305419922px;
  height: 24.310794830322266px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.mac-book-air1-group24 {
  top: 0px;
  left: 0px;
  width: 16.649944305419922px;
  height: 24.310794830322266px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.mac-book-air1-vector37 {
  top: 0px;
  left: 0px;
  width: 17px;
  height: 24px;
  position: absolute;
}
.mac-book-air1-group25 {
  top: 17.516937255859375px;
  left: 196.9077911376953px;
  width: 24.06929588317871px;
  height: 24.310794830322266px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.mac-book-air1-group26 {
  top: 0px;
  left: 0px;
  width: 24.06929588317871px;
  height: 24.310794830322266px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.mac-book-air1-group27 {
  top: 0px;
  left: 0px;
  width: 24.06929588317871px;
  height: 24.310794830322266px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.mac-book-air1-vector38 {
  top: 0px;
  left: 0px;
  width: 24px;
  height: 24px;
  position: absolute;
}
.mac-book-air1-group28 {
  top: 17.03394889831543px;
  left: 222.0435333251953px;
  width: 20.983489990234375px;
  height: 25.16945457458496px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.mac-book-air1-group29 {
  top: 0px;
  left: 0px;
  width: 20.983489990234375px;
  height: 25.16945457458496px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.mac-book-air1-group30 {
  top: 0px;
  left: 0px;
  width: 20.983489990234375px;
  height: 25.16945457458496px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.mac-book-air1-vector39 {
  top: 0px;
  left: 0px;
  width: 21px;
  height: 25px;
  position: absolute;
}
.mac-book-air1-clippathgroup1 {
  top: 0.000019795184925897047px;
  left: 34.20551300048828px;
  width: 21.46648597717285px;
  height: 17.85407829284668px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.mac-book-air1-frame2bf8e12445 {
  top: 0px;
  left: 0px;
  width: 21.46648597717285px;
  height: 17.85407829284668px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.mac-book-air1-vector40 {
  top: 0px;
  left: 0px;
  width: 21px;
  height: 18px;
  position: absolute;
}
.mac-book-air1-group31 {
  top: 0.3047184348106384px;
  left: 1.0940749645233154px;
  width: 19.15835952758789px;
  height: 16.2210750579834px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.mac-book-air1-vector41 {
  top: 0px;
  left: 0px;
  width: 19px;
  height: 16px;
  position: absolute;
}
.mac-book-air1-clippathgroup2 {
  top: 0.000019795184925897047px;
  left: 35.06425476074219px;
  width: 19.74916648864746px;
  height: 16.995418548583984px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.mac-book-air1f55fd42968 {
  top: 0px;
  left: 0px;
  width: 19.74916648864746px;
  height: 16.995418548583984px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.mac-book-air1-vector42 {
  top: 0px;
  left: 0px;
  width: 20px;
  height: 17px;
  position: absolute;
}
.mac-book-air1-group32 {
  top: 0.3047184348106384px;
  left: 0.23531031608581543px;
  width: 19.158355712890625px;
  height: 16.221080780029297px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.mac-book-air1-vector43 {
  top: 0px;
  left: 0px;
  width: 19px;
  height: 16px;
  position: absolute;
}
.mac-book-air1-clippathgroup3 {
  top: 0px;
  left: 0px;
  width: 65.97590637207031px;
  height: 46.18983840942383px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.mac-book-air1-frame40e41c3108 {
  top: 0px;
  left: 0px;
  width: 65.97590637207031px;
  height: 46.18983840942383px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.mac-book-air1-vector44 {
  top: 0px;
  left: 0px;
  width: 66px;
  height: 46px;
  position: absolute;
}
.mac-book-air1-group33 {
  top: 0.5493890047073364px;
  left: 0.9263750910758972px;
  width: 63.86354446411133px;
  height: 43.94288635253906px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.mac-book-air1-vector45 {
  top: 0px;
  left: 0px;
  width: 64px;
  height: 44px;
  position: absolute;
}
.mac-book-air1-clippathgroup4 {
  top: 0.000019795184925897047px;
  left: 0.7178658246994019px;
  width: 64.39945220947266px;
  height: 45.3311767578125px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.mac-book-air1c3d45478fc {
  top: 0px;
  left: 0px;
  width: 64.39945220947266px;
  height: 45.3311767578125px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.mac-book-air1-vector46 {
  top: 0px;
  left: 0px;
  width: 64px;
  height: 45px;
  position: absolute;
}
.mac-book-air1-group34 {
  top: 0.5493737459182739px;
  left: 0.2084795981645584px;
  width: 63.863525390625px;
  height: 43.94291687011719px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.mac-book-air1-vector47 {
  top: 0px;
  left: 0px;
  width: 64px;
  height: 44px;
  position: absolute;
}
.mac-book-air1-clippathgroup5 {
  top: 40.17926025390625px;
  left: 57.38936996459961px;
  width: 31.481943130493164px;
  height: 60.28392791748047px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.mac-book-air1f7b69e2e1b {
  top: 0px;
  left: 0px;
  width: 31.481943130493164px;
  height: 60.28392791748047px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.mac-book-air1-vector48 {
  top: 0px;
  left: 0px;
  width: 31px;
  height: 60px;
  position: absolute;
}
.mac-book-air1-group35 {
  top: 1.7063169479370117px;
  left: 1.698930025100708px;
  width: 29.62543296813965px;
  height: 58.02070617675781px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.mac-book-air1-vector49 {
  top: 0px;
  left: 0px;
  width: 30px;
  height: 58px;
  position: absolute;
}
.mac-book-air1-clippathgroup6 {
  top: 41.03794860839844px;
  left: 58.248008728027344px;
  width: 30.6232852935791px;
  height: 59.24749755859375px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.mac-book-air1-frame26ee628692 {
  top: 0px;
  left: 0px;
  width: 30.6232852935791px;
  height: 59.24749755859375px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.mac-book-air1-vector50 {
  top: 0px;
  left: 0px;
  width: 31px;
  height: 59px;
  position: absolute;
}
.mac-book-air1-group36 {
  top: 0.8477869629859924px;
  left: 0.8402875065803528px;
  width: 29.625425338745117px;
  height: 58.02074432373047px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.mac-book-air1-vector51 {
  top: 0px;
  left: 0px;
  width: 30px;
  height: 58px;
  position: absolute;
}
.mac-book-air1-clippathgroup7 {
  top: 45.331153869628906px;
  left: 29.053592681884766px;
  width: 28.33576011657715px;
  height: 55.1319694519043px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.mac-book-air1-frame9193fde1e2 {
  top: 0px;
  left: 0px;
  width: 28.33576011657715px;
  height: 55.1319694519043px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.mac-book-air1-vector52 {
  top: 0px;
  left: 0px;
  width: 28px;
  height: 55px;
  position: absolute;
}
.mac-book-air1-group37 {
  top: 1.7551541328430176px;
  left: 1.0076574087142944px;
  width: 26.132415771484375px;
  height: 53.35320281982422px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.mac-book-air1-vector53 {
  top: 0px;
  left: 0px;
  width: 26px;
  height: 53px;
  position: absolute;
}
.mac-book-air1-clippathgroup8 {
  top: 47.04855728149414px;
  left: 29.912281036376953px;
  width: 26.618444442749023px;
  height: 53.41465377807617px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.mac-book-air1-frame3f764cd838 {
  top: 0px;
  left: 0px;
  width: 26.618444442749023px;
  height: 53.41465377807617px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.mac-book-air1-vector54 {
  top: 0px;
  left: 0px;
  width: 27px;
  height: 53px;
  position: absolute;
}
.mac-book-air1-group38 {
  top: 0.037958092987537384px;
  left: 0.14895382523536682px;
  width: 26.132404327392578px;
  height: 53.35322952270508px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.mac-book-air1-vector55 {
  top: 0px;
  left: 0px;
  width: 26px;
  height: 53px;
  position: absolute;
}
.mac-book-air1-clippathgroup9 {
  top: 59.928466796875px;
  left: 1.5765018463134766px;
  width: 17.173187255859375px;
  height: 40.53476333618164px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.mac-book-air1-frame4f7053b54f {
  top: 0px;
  left: 0px;
  width: 17.173187255859375px;
  height: 40.53476333618164px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.mac-book-air1-vector56 {
  top: 0px;
  left: 0px;
  width: 17px;
  height: 41px;
  position: absolute;
}
.mac-book-air1-group39 {
  top: 1.3147433996200562px;
  left: 1.447501540184021px;
  width: 14.466031074523926px;
  height: 38.944881439208984px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.mac-book-air1-vector57 {
  top: 0px;
  left: 0px;
  width: 14px;
  height: 39px;
  position: absolute;
}
.mac-book-air1-vector58 {
  top: 61.243289947509766px;
  left: 3.0239784717559814px;
  width: 14px;
  height: 39px;
  position: absolute;
}
.mac-book-air1-group40 {
  top: 56.303916931152344px;
  left: 95.03242492675781px;
  width: 10.196579933166504px;
  height: 11.2028226852417px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.mac-book-air1-group41 {
  top: 0px;
  left: 0px;
  width: 10.196579933166504px;
  height: 11.2028226852417px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.mac-book-air1-group42 {
  top: 0px;
  left: 0px;
  width: 10.196579933166504px;
  height: 11.2028226852417px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.mac-book-air1-vector59 {
  top: 0px;
  left: 0px;
  width: 10px;
  height: 11px;
  position: absolute;
}
.mac-book-air1-group43 {
  top: 56.46491622924805px;
  left: 108.51199340820312px;
  width: 9.713583946228027px;
  height: 10.840575218200684px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.mac-book-air1-group44 {
  top: 0px;
  left: 0px;
  width: 9.713583946228027px;
  height: 10.840575218200684px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.mac-book-air1-group45 {
  top: 0px;
  left: 0px;
  width: 9.713583946228027px;
  height: 10.840575218200684px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.mac-book-air1-vector60 {
  top: 0px;
  left: 0px;
  width: 10px;
  height: 11px;
  position: absolute;
}
.mac-book-air1-group46 {
  top: 56.46491622924805px;
  left: 121.78849792480469px;
  width: 2.83089280128479px;
  height: 10.840575218200684px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.mac-book-air1-group47 {
  top: 0px;
  left: 0px;
  width: 2.83089280128479px;
  height: 10.840575218200684px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.mac-book-air1-group48 {
  top: 0px;
  left: 0px;
  width: 2.83089280128479px;
  height: 10.840575218200684px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.mac-book-air1-vector61 {
  top: 0px;
  left: 0px;
  width: 3px;
  height: 11px;
  position: absolute;
}
.mac-book-air1-group49 {
  top: 56.303916931152344px;
  left: 128.1082305908203px;
  width: 10.196579933166504px;
  height: 11.2028226852417px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.mac-book-air1-group50 {
  top: 0px;
  left: 0px;
  width: 10.196579933166504px;
  height: 11.2028226852417px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.mac-book-air1-group51 {
  top: 0px;
  left: 0px;
  width: 10.196579933166504px;
  height: 11.2028226852417px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.mac-book-air1-vector62 {
  top: 0px;
  left: 0px;
  width: 10px;
  height: 11px;
  position: absolute;
}
.mac-book-air1-group52 {
  top: 56.46491622924805px;
  left: 141.5877685546875px;
  width: 10.424661636352539px;
  height: 10.840575218200684px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.mac-book-air1-group53 {
  top: 0px;
  left: 0px;
  width: 10.424661636352539px;
  height: 10.840575218200684px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.mac-book-air1-group54 {
  top: 0px;
  left: 0px;
  width: 10.424661636352539px;
  height: 10.840575218200684px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.mac-book-air1-vector63 {
  top: 0px;
  left: 0px;
  width: 10px;
  height: 11px;
  position: absolute;
}
.mac-book-air1-group55 {
  top: 56.46491622924805px;
  left: 155.25059509277344px;
  width: 8.707343101501465px;
  height: 10.840575218200684px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.mac-book-air1-group56 {
  top: 0px;
  left: 0px;
  width: 8.707343101501465px;
  height: 10.840575218200684px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.mac-book-air1-group57 {
  top: 0px;
  left: 0px;
  width: 8.707343101501465px;
  height: 10.840575218200684px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.mac-book-air1-vector64 {
  top: 0px;
  left: 0px;
  width: 9px;
  height: 11px;
  position: absolute;
}
.mac-book-air1-group58 {
  top: 56.46491622924805px;
  left: 166.83070373535156px;
  width: 9.284255027770996px;
  height: 10.840575218200684px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.mac-book-air1-group59 {
  top: 0px;
  left: 0px;
  width: 9.284255027770996px;
  height: 10.840575218200684px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.mac-book-air1-group60 {
  top: 0px;
  left: 0px;
  width: 9.284255027770996px;
  height: 10.840575218200684px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.mac-book-air1-vector65 {
  top: 0px;
  left: 0px;
  width: 9px;
  height: 11px;
  position: absolute;
}
.mac-book-air1-group61 {
  top: 77.79008483886719px;
  left: 94.6030502319336px;
  width: 12.101731300354004px;
  height: 10.840575218200684px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.mac-book-air1-group62 {
  top: 0px;
  left: 0px;
  width: 12.101731300354004px;
  height: 10.840575218200684px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.mac-book-air1-group63 {
  top: 0px;
  left: 0px;
  width: 12.101731300354004px;
  height: 10.840575218200684px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.mac-book-air1-vector66 {
  top: 0px;
  left: 0px;
  width: 12px;
  height: 11px;
  position: absolute;
}
.mac-book-air1-group64 {
  top: 77.79008483886719px;
  left: 109.76383972167969px;
  width: 10.035581588745117px;
  height: 10.840575218200684px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.mac-book-air1-group65 {
  top: 0px;
  left: 0px;
  width: 10.035581588745117px;
  height: 10.840575218200684px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.mac-book-air1-group66 {
  top: 0px;
  left: 0px;
  width: 10.035581588745117px;
  height: 10.840575218200684px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.mac-book-air1-vector67 {
  top: 0px;
  left: 0px;
  width: 10px;
  height: 11px;
  position: absolute;
}
.mac-book-air1-group67 {
  top: 77.79008483886719px;
  left: 122.87142181396484px;
  width: 12.101731300354004px;
  height: 10.840575218200684px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.mac-book-air1-group68 {
  top: 0px;
  left: 0px;
  width: 12.101731300354004px;
  height: 10.840575218200684px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.mac-book-air1-group69 {
  top: 0px;
  left: 0px;
  width: 12.101731300354004px;
  height: 10.840575218200684px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.mac-book-air1-vector68 {
  top: 0px;
  left: 0px;
  width: 12px;
  height: 11px;
  position: absolute;
}
.mac-book-air1-group70 {
  top: 77.79008483886719px;
  left: 138.03213500976562px;
  width: 7.419354438781738px;
  height: 10.840575218200684px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.mac-book-air1-group71 {
  top: 0px;
  left: 0px;
  width: 7.419354438781738px;
  height: 10.840575218200684px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.mac-book-air1-group72 {
  top: 0px;
  left: 0px;
  width: 7.419354438781738px;
  height: 10.840575218200684px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.mac-book-air1-vector69 {
  top: 0px;
  left: 0px;
  width: 7px;
  height: 11px;
  position: absolute;
}
.mac-book-air1-group73 {
  top: 77.79008483886719px;
  left: 147.6934814453125px;
  width: 10.733242988586426px;
  height: 10.840575218200684px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.mac-book-air1-group74 {
  top: 0px;
  left: 0px;
  width: 10.733242988586426px;
  height: 10.840575218200684px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.mac-book-air1-group75 {
  top: 0px;
  left: 0px;
  width: 10.733242988586426px;
  height: 10.840575218200684px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.mac-book-air1-vector70 {
  top: 0px;
  left: 0px;
  width: 11px;
  height: 11px;
  position: absolute;
}
.mac-book-air1-group76 {
  top: 77.79008483886719px;
  left: 160.53955078125px;
  width: 9.284255027770996px;
  height: 10.840575218200684px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.mac-book-air1-group77 {
  top: 0px;
  left: 0px;
  width: 9.284255027770996px;
  height: 10.840575218200684px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.mac-book-air1-group78 {
  top: 0px;
  left: 0px;
  width: 9.284255027770996px;
  height: 10.840575218200684px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.mac-book-air1-vector71 {
  top: 0px;
  left: 0px;
  width: 9px;
  height: 11px;
  position: absolute;
}
.mac-book-air1-group79 {
  top: 77.79008483886719px;
  left: 173.05517578125px;
  width: 2.83089280128479px;
  height: 10.840575218200684px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.mac-book-air1-group80 {
  top: 0px;
  left: 0px;
  width: 2.83089280128479px;
  height: 10.840575218200684px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.mac-book-air1-group81 {
  top: 0px;
  left: 0px;
  width: 2.83089280128479px;
  height: 10.840575218200684px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.mac-book-air1-vector72 {
  top: 0px;
  left: 0px;
  width: 3px;
  height: 11px;
  position: absolute;
}
.mac-book-air1-group82 {
  top: 77.62908172607422px;
  left: 179.3749542236328px;
  width: 10.196579933166504px;
  height: 11.2028226852417px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.mac-book-air1-group83 {
  top: 0px;
  left: 0px;
  width: 10.196579933166504px;
  height: 11.2028226852417px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.mac-book-air1-group84 {
  top: 0px;
  left: 0px;
  width: 10.196579933166504px;
  height: 11.2028226852417px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.mac-book-air1-vector73 {
  top: 0px;
  left: 0px;
  width: 10px;
  height: 11px;
  position: absolute;
}
.mac-book-air1-group85 {
  top: 77.57545471191406px;
  left: 192.04953002929688px;
  width: 9.351338386535645px;
  height: 11.229654312133789px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.mac-book-air1-group86 {
  top: 0px;
  left: 0px;
  width: 9.351338386535645px;
  height: 11.229654312133789px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.mac-book-air1-group87 {
  top: 0px;
  left: 0px;
  width: 9.351338386535645px;
  height: 11.229654312133789px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.mac-book-air1-vector74 {
  top: 0px;
  left: 0px;
  width: 9px;
  height: 11px;
  position: absolute;
}
.mac-book-air1-text28 {
  top: 95vh;
  left: 150px;
  color: rgba(235, 232, 227, 1);
  height: auto;
  position: absolute;
  font-size: 10.89899730682373px;
  text-align: left;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-air1-text30 {
  top: 850px;
  left: 64.5vw;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 29.063993453979492px;
  text-align: left;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
